
{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="input_file">Input File</label>
    <input name="input_file" id="input_file" required>
    <label for="output_file">Output File</label>
    <input type="output_file" name="output_file" id="output_file" required>
    <input type="submit" value="Register">
  </form>
{% endblock %}
